<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Admin Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/admin.css'>
    <link rel="stylesheet" href="/stylesheets/animations.css">
    <script src="https://kit.fontawesome.com/c01b4bce71.js" crossorigin="anonymous"></script>
</head>
<!-- Rota: http://localhost:3000/admin/dashboard -->

<body>
    <main>
        <!-- <a onclick="showMenu()" id="bars" class=""> <i class="fas fa-bars"></i></a> -->
        <div class="sidebar" id="sidebar">
            <div class="sideItem">
                <a class="button active" onclick="showDashboard()">
                    <i class="fas fa-home"></i>
                    <span>
                        Dashboard
                    </span>
                </a>
            </div>

            <div class="sideItem">
                <a class="button" onclick="buscarCasosPorBairro()">
                    <i class="fas fa-search"></i>
                    <span>
                        Buscar casos por bairro
                    </span>
                </a>
            </div>

            <div class="sideItem">
                <a class="button" onclick="buscarCasosPorCep()">
                    <i class="fas fa-search"></i>
                    <span>
                        Buscar casos por CEP
                    </span>
                </a>
            </div>
            <div class="sideItem">
                <a class="button">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>
                        Vizualizar micro regiões
                    </span>
                </a>
            </div>
            <div class="sideItem">
                <a class="button">
                    <i class="fas fa-stethoscope"></i>
                    <span>
                        Respostas por sintoma
                    </span>
                </a>
            </div>


        </div>
        <div class="board fadeIn" id="dashboard">
            <div class="row">
                <div class="boardItem">
                    <strong>
                        Número total de atendimentos
                    </strong>
                    <div class="gray-div">
                        <span class="red"><%=qtdAtendimentos%></span>
                        <span>Antendimentos</span>
                    </div>
                </div>
                <div class="boardItem">
                    <strong>
                        Número total de suspeitos
                    </strong>
                    <div class="gray-div">
                        <span class="red"><%=qtdSuspeitos%></span>
                        <span>Suspeitos</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="boardItem">
                    <strong>
                        Microregiões mais atingidas
                    </strong>
                    <div class="gray-div">
                        <span><%=porRegiao[0].bairro%></span>
                    </div>
                </div>
                <div class="boardItem">

                    <div class="map-frame">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14626.56560322451!2d-46.801356024732!3d-23.58131933885484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce55737552cc95%3A0xfc00e18d6c8dd6ec!2sJardim%20Boa%20Vista%20(Zona%20Oeste)%2C%20S%C3%A3o%20Paulo%20-%20State%20of%20S%C3%A3o%20Paulo%2C%2005576-100!5e0!3m2!1sen!2sbr!4v1585262717787!5m2!1sen!2sbr"
                            height="90%" width="90%" frameborder="0" style="align-self: center; border:0; border-radius: 10px; box-shadow: 0px 2px 5px  #aaaaaa;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>

                </div>
            </div>

        </div>

        <div class=" display fadeIn" id="casosPorBairro">
            <nav>
                <input type="search" name="buscarCasosPorBairro" id="buscarCasosPorBairro">
                <a href="">
                    <i class="fas fa-search"></i>
                </a>
            </nav>
            <div class="quadroBranco">
                <h2>Parque Piauí</h2>

                <h3>Atendimentos</h3>
                <div class="container-cinza">
                    <div class="caixa-rosa">
                        <span class="red">150.000 </span><span class="green">atendimentos</span>
                    </div>
                    <div class="caixa-verde">
                        <span>250 suspeitos</span>
                    </div>
                </div>

                <h3>CEPs com mais casos</h3>
                <div class="container-cinza">
                    <div class="caixa-rosa">
                        <span class="red">06654-770</span>
                    </div>
                    <div class="caixa-verde">
                        <span>2 casos</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="display fadeIn" id="casosPorCep">
            <nav>
                <input type="search" name="buscarCasosPorCep" id="buscarCasosPorCep">
                <a href="">
                    <i class="fas fa-search"></i>
                </a>

            </nav>
            <div class="quadroBranco">
                <h2>05574-100</h2>

                <h3>Atendimentos</h3>
                <div class="container-cinza">
                    <div class="caixa-rosa">
                        <span class="red">10 </span><span class="green">atendimentos</span>
                    </div>
                    <div class="caixa-verde">
                        <span>250 suspeitos</span>
                    </div>
                </div>
                <h3>Casos Nesse CEP</h3>
                <div class="container-cinza-col">
                    <div class="caixa-verde-col">
                        <span>André Luis</span><br>
                        <span>11983514937 - Rua vai quem quer - Nº 13</span>
                    </div>
                    <div class="caixa-verde-col">
                        <span>André Luis</span><br>
                        <span>11983514937 - Rua vai quem quer - Nº 13</span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src=" /js/adminScripts.js "></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>
</body>

</html>