<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Perfil</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="/stylesheets/consultaSelecionada.css">
  <link rel="shortcut icon" href="/images/icone.png" type="image/x-icon">
</head>
<!-- rota para acessar essa view:
  http://localhost:21165/users/consulta/:id -->
  
  <body>
    <header>
      <nav class="container-fluid">
        <h1>
          Consulta
        </h1>
      </nav>
    </header>
    <main>
      <h2 id="h-dados"><%= consultaSelecionada.status_consulta %></h2>
      <form class="dados" action="">
        <div class="form-group ">
          <label>Sintomas:</label>
        </div>
        <div class="form-group ">
          <% consultaSelecionada.sintomas.forEach(sintoma => { %>
            <label class="sintoma">
              <%=sintoma.descricao%>
            </label>
            <% }); %>
            <div class="alert alert-warning">
              <p id="resultado">De acordo com os sintomas informados aconselhamos que você fique em casa e aguarde retorno de um profissional de saúde</p>
            </div>
          </div>
          <div class="form-group ">
            <button type="button" onclick="location.href='/users/dashboard'">Voltar</button>
          </div>
        </form>
      </main>
      <script src="/js/resultado.js"></script>
    </body>
    
    </html>