<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <title>Meu Perfil</title>
</head>

<body>
    <header>
        <nav class="container-fluid">
            <h1>André Luis da Silva Oliveira</h1>
        </nav>
    </header>
    <main>
        <h2 id="h-dados">Dados do usuário</h2>

        <form class="dados" action="">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input value="André" readonly type="text">
            </div>
            <div class="form-group">
                <label for="idade">Idade</label>
                <input value="19 anos" readonly type="text">
            </div>
            <div class="form-group">
                <label for="sexo">Sexo</label>
                <input value="Masculino" readonly type="text">
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input value="+5511912345678" readonly type="tel">
            </div>
            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input value="CEP: 05776450" readonly type="text">
                <input value="Rua dos Perdidos - Nº 13" readonly type="text">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input value="mail@mail.com" readonly type="mail">
            </div>
            <div class="form-group">
                <button type="button">Editar Perfil</button>
            </div>
        </form>
    </main>
</body>

</html>